/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
  font-size: 50px;
  margin-bottom: 2rem;
}

#output {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
  max-height: 500px;
  overflow: scroll;
  margin: 1rem;
}

ul {
  font-size: 40px;
  line-height: 2;
}
li {
  font-size: 30px;
  text-align: left;
}

/* tablet */
@media screen and (min-width: 768px) {
  #output {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  #output {
    grid-template-columns: repeat(3, 1fr);
  }
}
